:root {
  /*Colors of the design*/
  --font-inter: "Inter", sans-serif;
  --magenta: #dd0a59;
  --light-pink: #ffefef;
  --dark-grey: #241e26;
  --coffee: #d9ab82;
}
.aboutme-section {
  position: relative;
  top: 50vh;
  background-color: var(--light-pink);
  box-sizing: border-box;
  text-align: center;
}
.aboutme-container{
  padding: 120px 0px;
}
.aboutme-container-info {
  min-width: 200px;
  max-width: 450px;
  margin: 0px auto;
  padding: 20px;
}
.aboutme-title {
  font-family: var(--font-inter);
  font-weight: bold;
  font-size: 28px;
  color: var(--dark-grey);
  padding: 10px;
}
.aboutme-text {
  font-family: var(--font-inter);
  font-size: 16px;
  color: var(--dark-grey);
 
}
.aboutme-img {
  display: none;
}
.aboutme-text{
  font-size: 20px;
}
@media screen and (min-width: 925px) {
  .aboutme-img {
    display: block;
    background-color: var(--magenta);
    padding: 8px;
    border-radius: 50%;
    width: 30%;
    height: 30%;
    margin-top: 10px;
  }
  .aboutme-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
  }
  .aboutme-container-info {
    align-self: flex-start;
    padding: 0px;
  }
  .aboutme-title{
    font-size: 34px;
    margin-bottom: 10px;
  }
 
  .aboutme-container-info {
    margin: 10px;
  }
}
